.services__wrapper{
    margin: 4rem;
}

.container.services__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    gap: 5rem;
}

.service{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.service__desc{
    display: flex;
    flex-direction: column;
}
.service__desc h6{
    font-size: 1rem;
    font-weight: 700;
    text-transform: capitalize;
}

.service__desc p{
    color: #aaa;
    font-family: 'Montserrat';
    font-weight: 400;
    text-transform: capitalize;
    font-size: 0.8rem;
}



        /* MEDIA QURIES (medium screen) */

@media screen and (max-width: 1024px) {
    .services__wrapper{
        margin: 2rem 0;
    }

    .service__desc{
        justify-content: flex-start;

    }
    
    .container.services__container{
        gap: 2rem;
    }
    .service{
        gap: .5rem;
        flex-direction: column;
        text-align: center;
        justify-content:  flex-start;
    }
}


        /* MEDIA QURIES (medium screen) */

@media screen and (max-width: 640px) {
    .container.services__container{
        grid-template-columns: repeat(2, 1fr);
    }
}