.container.blog__container{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 30.5%);
    row-gap: 4rem;
    column-gap: 2rem;
}



            /* MEDIA QUERIES (small screens) */

@media screen and (max-width: 640px) {
    .container.blog__container{
        grid-template-columns: 1fr;
    }
}